.container{
    background-color:lightskyblue;
    padding: 20px;
    display: flex;
    flex-direction:row;
    height:500px;
    justify-content:space-evenly;
    align-items: center;
}


.item{
    background-color:blue;
    color: red;
    height: 20px;
    /* flex-grow:1; */
}

/* .item1{ */
    /* width: 100px; */
/* } */