.container{
    background-color:lightskyblue;
    padding: 20px;
    display: flex;
    flex-direction:row;
}


.item{
    background-color: lime;
    color: red;
    flex-grow:1;
}

/* .item1{ */
    /* width: 100px; */
/* } */