.myDiv{
    /* background-color:yellowgreen; */
    background: radial-gradient(blue, red);
    color:red;
    height: 200px;
    width: 200px;
    transition: all 2s linear;
}

.myDiv:hover{
    height: 500px;
    width: 300px;
    /* background-color:blue; */
}